<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/<% if(editing){ %>edit-item<% }else{ %>add-item<% } %>" method="POST">
              <% if(editing){ %> <input type="hidden" name="item_id" value="<% product.item_id %>"> <% } %>
            <div class="form-control">
                <label for="title">Name</label>
                <input type="text" name="itemName" id="title" value="<% if(editing){ %><%= product.name %><%}%>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<% if(editing){ %><%= product.imageurl %><%}%>">
            </div>
            <div class="form-control">
                <label for="price">Date of Purchase</label>
                <input type="date" name="dof" id="dof" step="0.01" value="<% if(editing){ %><%= product.date_of_purchase %><%}%>">
            </div>
            <div class="form-control">
                <label for="description">Expire After</label>
                <input type="text" name="expire_after" value="<% if(editing){ %><%= product.expire_after %><%}%>">
            </div>
            <button class="btn" type="submit"><% if(editing) { %>Edit<% }else{ %>Add<% } %> Product</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>