<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.name %></h1>
            <hr>
            <div>
            	<img src="<%= product.imageUrl %>" alt="<%= product.title%>">	
            </div>
            <h2><%= product.date_of_purchase %></h2>
            <p><%= product.expire_after%></p>
            <form method="POST" action="/edit-item">
            	<button class="btn" type="submit">Edit</button>
            	<input type="hidden" name="productId" value="<%= product.item_id %>">
            </form>
        </main>
        <%- include('includes/end.ejs') %>